<div class="border">
  <div class="light-border">
    <div class="game-board" [style.--rows]="rows" [style.--cols]="cols">
      <div class="row" *ngFor="let row of gameBoard; let rowIndex = index">
        <div class="cell" *ngFor="let cell of row; let colIndex = index" [attr.data-row]="rowIndex"
          [attr.data-col]="colIndex">
          <button [style.background-color]="sweptBoard[rowIndex][colIndex] === 'swept' ? '#B0B0B0' : 'lightgray'"
            [style.color]="colors[adjacencyBoard[rowIndex][colIndex]]" (click)="sweep(rowIndex, colIndex)"
            (contextmenu)="flag($event, rowIndex, colIndex)">
            <b>{{ displayItem(rowIndex, colIndex) }}</b>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="details">
  <div class="border">
    <button class="reset-button" (click)="reset()">Reset Game</button>
  </div>
  <h1>🚩: {{ flags }}</h1>
  <div class="border">
    <button class="difficulty-button" (click)="setDifficulty(difficulty)">{{ difficulty.toUpperCase() }}</button>
  </div>
</div>