body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    width: 40px;
    height: 40px;
    font-size: 18px;
    background-color: lightgray;
}

.border {
    background: rgb(172, 172, 172);
    padding: 5px;
    height: 600px;
    width: 600px;
    border: black 3px solid;
}

.game-board {
    display: grid;
    grid-template-rows: repeat(10, 60px);
}

.row {
    display: grid;
    grid-template-columns: repeat(10, 60px);
}

.cell {
    width: 60px;
    height: 60px;
}

.cell button {
    width: 100%;
    height: 100%;
}