body {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    width: 120px;
    height: 40px;
    font-size: 18px;
    background-color: lightgray;
}

.border {
    background: rgb(172, 172, 172);
    padding: 5px;
    border: black 3px solid;
    width: fit-content;
    height: fit-content;
    margin: 25px auto 0 auto;
}

.light-border {
  background: lightgray;
  padding: 6px;
  border: rgb(53, 53, 53) 2px solid;
}

.game-board {
  display: grid;
  grid-template-rows: repeat(var(--rows), 50px);
}

.row {
  display: grid;
  grid-template-columns: repeat(var(--cols), 50px);
}

.cell {
    width: 50px;
    height: 50px;
}

.cell button {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 30px 0 0 0;
}

.details {
    display: flex;
    gap: 50px;
    justify-content: center;
}

header {
  text-align: center;
  font-size: 2rem;
  font-family: 'Press Start 2P', monospace;
}