body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    width: 40px;
    height: 40px;
    font-size: 18px;
    background-color: lightgray;
}

.border {
    background: rgb(172, 172, 172);
    padding: 5px;
    height: 400px;
    width: 400px;
    border: black 3px solid;

    display: flex;              /* <-- Required */
    justify-content: center;    /* horizontal center */
    align-items: center;        /* vertical center */
}


.game-board {
    display: grid;
    grid-template-rows: repeat(10, 40px);
}

.row {
    display: grid;
    grid-template-columns: repeat(10, 40px);
}

.cell {
    width: 40px;
    height: 40px;
}

.cell button {
    width: 100%;
    height: 100%;
}