header {
  text-align: center;
  font-size: 2rem;
  font-family: 'Press Start 2P', monospace;
}

.border {
  background: rgb(172, 172, 172);
  height: fit-content;
  padding: 4px;
  margin: 25px auto;
  border: black 3px solid;
}

.light-border {
  background: lightgray;
  padding: 6px;
  border: rgb(53, 53, 53) 2px solid;
}

.row {
  display: flex;
  margin: 0;
  padding: 0;
}

.cell {
  margin: 0;
  padding: 0;
}

.game-board .cell button {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(100, 100, 100);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}