html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', monospace;
} 

body {
    display: flex;
    min-height: 100vh;
    background: #d8d8d8;
}