html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: #d8d8d8;
}